---
layout: page
title: "Tushar Bhushan"
description: "Junior Programmer"
header-img: "img/about-bg.jpg"
---
<!-- resume.html -->
 
<!-- <article class="resume"> -->

<div class="row">
    <div class="col-md-12">

        <section>
          <h2>Education</h2>
          <ul>
            {% for education in site.data.resume.educations.values %}
              <h3> 
                {% if education.schoolName contains 'Urbana-Champaign' %}
                    <img src="{{ site.baseurl}}/img/uiuc.png" style="float: left;"></img> 
            
                {% else %}
                    <img src="{{ site.baseurl}}/img/uiuc.png" style="float: left; visibility: hidden;"></img>         
                {% endif %}
                {{ education.schoolName }}
             </h3>
              <h4>{{ education.degree }}, {{ education.fieldOfStudy }}</h4>
              <span style="font-size: 15px"><em>{{ education.startDate.year }} - {{ education.endDate.year }}</em></span>
            {% endfor %}
          </ul>
        </section>
        <hr/>
        <section>
          <h2>Skills</h2>
          <ul style="list-style-type: none;">
            <li><h4>Languages</h4> C, C++, Javascript, HTML 4.0/5.0, CSS, Python, Node.js</li>
            <li><h4>Frameworks</h4> Hadoop, Bootstrap, express.js </li>  
            <li><h4>Databases</h4> MySQL, MongoDB</li>
            <li><h4>Concepts</h4> Algorithms, Data Structures, Networking, OSI Model, Operating Systems, User-Interface Design, Bash Scripting, Sockets Programming</li>
          </ul>
        </section>
        <hr/>
      <section>
        <h2>Experience</h2>
        <ul style="list-style-type: none;">
          {% for position in site.data.resume.positions.values %}
            <li>
              <h3 style="display:inline">{{ position.company.name }} </h3> | <h4 style="display:inline; font-weight: normal;">{{ position.title }}</h4>
              <br/>
              <span style="font-size: 15px"><em> {{ position.startDate }} - {{ position.endDate }}</em></span>
              <p style="font-size: 18px">{{ position.summary | replace:'•','<br/> •' | replace_first:'<br/> •','•'  }}</p>
            </li>
          {% endfor %}
        </ul>
      </section>
      
      <hr/>
      <section>
        <h2>Projects</h2>
        <ul style="list-style-type: none;">
          {% for project in site.data.resume.projects.values %}
            <li>
              <h3><a href="{{ project.url }}">{{ project.name }}</a></h3>
              <p style="font-size: 18px">{{ project.description | newline_to_br | replace:'-','• ' | replace:'<br/>','<br/>• ' }}</p>
            </li>
          {% endfor %}
        </ul>
      </section>

    </div>
</div>
<!-- </article> -->